* {
    padding: 0;
    margin: 0;
}

html,
body,
.fullheight {
    /* min-height: 100% !important; */
    height: 100%;
    margin-bottom: -4px;
}

.fullheight {
    width: 100%;
}

body {
    margin: 0;
    /* Hide oversized content. This prevents the scroll bars. */
    overflow: hidden;
    font: lighter 13px/23px "Helvetica Neue", Helvetica, "pragmatica-web",
          Arial, sans-serif;
}
